{% extends "_base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'contact_supplier_list' %}">Supplier Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>name</td>
    <td>slug</td>
    <td>created</td>
    <td>last_updated</td>
    <td>organisation</td>
    <td>phonenumber</td>
    <td>initial</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.name }}</td>
    <td>{{ object.slug }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.organisation }}</td>
    <td>{{ object.phonenumber }}</td>
    <td>{{ object.initial }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'contact_supplier_create' %}">Create new Supplier</a>
{% endblock %}
